# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "6"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

# Convenience variables usable in various configuration fragments
#----------------------------------
BCONFDIR := "${@os.path.abspath(os.path.dirname(d.getVar('FILE', True)))}"
METADIR  := "${@os.path.abspath('##OEROOT##/../..')}"

# These are the core OE + YP Layers
#----------------------------------
YOCTO_LAYERS = " \
  ${METADIR}/external/poky/meta \
  ${METADIR}/external/poky/meta-poky \
  "
#  this is added for the boards where necessary, not globally
#  ${METADIR}/external/poky/meta-yocto-bsp \
#
# These are the AGL CORE Layers that make up the basis
# - they create a minimal bootable filesystem
#   with some automotive tools/libraries
#-----------------------------------------------------
AGL_CORE_LAYERS = " \
  ${METADIR}/meta-agl/meta-agl-core \
  ${METADIR}/meta-agl/meta-agl-distro \
  ${METADIR}/meta-agl/meta-agl-bsp \
  "

AGL_CORE_DEPENDENCY_LAYERS ?= ""

####################
# Combine the layers
BBLAYERS ?= " \
  ${AGL_CORE_DEPENDENCY_LAYERS} \
  ${AGL_CORE_LAYERS} \
  ${YOCTO_LAYERS} \
  "

BBLAYERS_NON_REMOVABLE ?= " \
  ${METADIR}/external/poky/meta \
  ${METADIR}/external/poky/meta-poky \
  ${METADIR}/meta-agl/meta-agl-core \
  ${METADIR}/meta-agl/meta-agl-distro \
  "



