[Unit]
Description=Bluetooth OBEX service

[Service]
Type=dbus
BusName=org.bluez.obex
ExecStart=/usr/libexec/bluetooth/obexd --root=/var/volatile/tmp

[Install]
Alias=dbus-org.bluez.obex.service
